DEBUG=True
SECRET_KEY=dev-only-super-secret-change-in-prod
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=postgres://taskflow:taskflow@db:5432/taskflow
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:4200